*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #141414;
    color:#FFF
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 50px;
    width: 100vw;
    padding: 20px 100px;
    background-color: #141414;
    z-index: 99;
    border-bottom: 1px solid #292929;
}
.menu h1{
    font-size: 22px;
}
.menu img{
    cursor: pointer;
    height: 30px;
}
.img-she img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #FFF;
    padding: 3px;
}
main{
    overflow: hidden;
}
.statics{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.info{
    font-size: 20px;
    text-align: center;
}
.details{
    font-size: 18px;
}
.box{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.box button{
    background-color: transparent;
    border: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #FFF;
    padding: 5px 25px;
    cursor: pointer;
    outline: 0;
}
.box button:hover{
    background-color: #111;
}
.box button img{
    width: 30px;
    transform: rotate(90deg);
}
.text {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.text a{
    text-decoration: none;
}
.friends{
    display: none;
}
.openFriends{
    display: block;
}
.slider-friends-move{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.slide-model{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #CCC;
    padding: 20px;
    margin-right: 15px;
    border-radius: 5px;
}
.slide-model img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.slide-model button{
    width: 100%;
    border: 0;
    color:#FFF;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgb(31, 31, 182);
    cursor: pointer;
    outline: 0;
}
.boll{
     margin-top: 30px;
     font-size: 18px;
     display: flex;
}
.boll div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boll img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #FFF;
    padding: 3px;
    margin-bottom: 20px;
}
.bar {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}
.bar img{
    cursor: pointer;
}
.sliders .modal,.sliders .modalp {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.modal img{
    height: 80%;
    width: auto;
    border-radius: 10px;
}
.modalp video{
    border-radius: 10px;
}
.slider-move{
    width: calc(100vw * 3);
    display: flex;
    transition: all ease .5s;
}
.slider-move .posts,.slider-move .rells {
    width: 33.333%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;
}
.slider-move .posts img{
    width: 320px;
    height: 320px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.rells video{
    width: 300px;
    height: auto;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.not{
    width: 33.333%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.static{
    position: fixed;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 100px;
    background-color: #141414;
    border-top: 1px solid #292929;
    z-index: 99;
}
.static img{
    width: 30px;
    height: 30px;
    cursor:pointer
}
.static img:last-child{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.not img{
    width: 30px;
    height: 30px;
}
.up-box,.up-box-1{
    position: fixed;
    bottom: -410px;
    left: 0;
    right: 0;
    padding: 20px 100px;
    font-size: 18px;
    background-color: #222;
    transition: all ease .5s;
}
.up-box p{
    text-align: center;
    border-bottom: 1px solid #292929;
    padding: 20px 110px;
    cursor: pointer;
}
.text-img{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    cursor: pointer;
}
.open{
    bottom: 50px;
}

@media (max-width:780px){
    .box button{
        padding: 0 10px;
        border-radius: 5px;
        font-size: 14px;
    }
    .box button img{
        width: 20px;
    }
    .boll img{
        width: 80px;
        height: 80px;
    }
    .posts{
        justify-content: center;
    }
    .posts img{
        width: 300px !important;
        height: 300px;
    }
    .modal img{
        width: 60%;
    }
    .modalp video{
        width: 280px;
    }
    .static{
        padding: 0 15px;
    }
    .static img{
        width: 20px;
        height: 20px;
    }
    .bar img{
        width: 30px;
    }
    .not h2{
        font-size: 22px;
    }
}

@media (max-width:430px){
    .menu{
        padding: 20px;
    }
    .menu h1{
        font-size: 15px;
    }
    .menu img{
        width: 20px;
        height: 20px;
    }
    .statics{
        font-size: 13px;
    }
    .statics img{
        width: 80px;
        height: 80px;
    }
    .info{
        margin-top: 20px;
        font-size: 14px;
    }
    .modal img{
        height: 50%;
        width: auto;
        border-radius: 10px;
    }
    .posts img{
        margin: 0 !important;
    }
    .up-box,.up-box-1{
        padding: 20px;
    }
    .up-box p{
        padding: 20px;
        font-size: 18px;
    }
    .text-img{
        font-size: 16px;
    }
    .text-img img{
        width: 20px;
        height: 20px;
    }
}